/*body {
  margin: 0;
  font-family: Arial;
}

.page {
  height: 100vh;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass {
  backdrop-filter: blur(15px);
  background: rgba(255,255,255,0.15);
  padding: 30px;
  border-radius: 20px;
  width: 350px;
  color: white;
  box-shadow: 0 10px 40px rgba(0,0,0,0.3);
}

.glass input,
.glass select {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: none;
}

.glass button {
  width: 100%;
  padding: 12px;
  background: #00c6ff;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.result {
  margin-top: 20px;
  background: rgba(255,255,255,0.2);
  padding: 15px;
  border-radius: 10px;
}
*/
@tailwind base;
@tailwind components;
@tailwind utilities;
